
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered mt-3 ">
    <tr>
        <th>Id</th>
        <th>Isim</th>
        <th>Guncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>OZCAN AKYUZ</td>
        <td><btn class="btn btn-primary">GUNCELLE</btn></td>
    </tr>
</table>

