
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/web-kisisel-site/style.css">
    <title>ADMIN PANEL ASP.NET</title>
</head>
<body>


    <div class="card py-4">
        <div class="avatar">
            <img src="~/web-kisisel-site/img/profile.jpg" alt="">
        </div>
        <div class="content mt-2">
            <h1 class="name">OZCAN AKYUZ</h1>
            <h2 class="front">FRONT-END DEVELOPER</h2>
            <p class="lorem" style="font-weight: bold;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, dolorem. Ut fugiat corporis minus obcaecati quas atque voluptas, vitae eos! Quaerat non reiciendis sed hic tenetur obcaecati nesciunt, perspiciatis modi fuga rem quidem illo autem error suscipit labore aspernatur corporis sit explicabo exercitationem? Aliquid, at.</p>
            <h3 class="media mb-3">SOCIAL MEDIA</h3>
            <div class="social">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-git"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>



</body>
</html>
